@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";


:root {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(21, 20, 20, 0.87);
  background-color: #eeeeee;
  
  
 

}
